@import "tailwindcss";
@layer base {
  * { box-sizing: border-box; }

  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* CHỐT: xoá kiểu Vite template */
  #root {
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body { overflow-x: hidden; }
}